<a href="https://colab.research.google.com/github/x87170/ES/blob/master/Esun_QuantTeam_Lessons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Course for Esun Quant Team July 10, 2020**
### **Agenda**


- Chapter 1 - 基本用法

- Chapter 2 - Pandas (待新增Series)

## **Chapter 1 - 基本用法**

### **基礎用法**

##### 與一般的程式語言相同，都是以" = " 來給賦予變數數值



```
a = 3

a = "Apple"
```
##### 當變數的屬性為數值時可以進行基本運算

In [ ]:
a,b = 3,2
print("加法 a+b = ",a+b)
print("減法 a-b =",a-b)
print("乘法 a*b =",a*b)
print("除法 a/b =",a/b)
print("次方 a**b =",a**b)
print("除法，取整數 a//b =",a//b)

加法 a+b =  5
減法 a-b = 1
乘法 a*b = 6
除法 a/b = 1.5
次方 a**b = 9
除法，取整數 a//b = 1

### **list**
##### 而除了單一的數值外，我們最常以 **list** [  ]做為我們的資料結構

```
# Below are lists
b = [1,2,3]
C = [1,"P", [3]]  
```
list當中各個項目以","分開，並且可以容納各種型態的資料，如C第三個項目為另一個list

### **append**
##### 當資料型態為list時我們可以使用append增加後面的項目，常用的方法如：
```
#先建立一個空的list
list_A = [] 

#將迴圈中運算出的結果，依次存入空的list中
for i in range(3):
  list_A.append(i)

print(list_A)
```
這樣就可以將整個運算流程都存起來(e.g.像是蒙地卡羅每次模擬的狀況)

In [ ]:
list_A = [] 

for i in range(3):
  list_A.append(i)

print(list_A)

[0, 1, 2]

### **list的特殊運算**
當list進行乘法時並不會進行數值運算，而是將該list重複
```
[1,2,3] * 2 -> [1,2,3,1,2,3]
```
而進行加法時會將後者併入前者中
```
[1,2,3] + [4,5,6] = [1,2,3,4,5,6]
```

In [ ]:
a= [1, 2, 3]*2
print(a)

b = ["Apple",2,3]
print(b)

c = a+b
print(c)

[1, 2, 3, 1, 2, 3]
['Apple', 2, 3]
[1, 2, 3, 1, 2, 3, 'Apple', 2, 3]

### **資料選取,切片**

#### 當要挑選list中資料時，會以List[ ]進行選取，須留意第一項的編號為0，也可以使用[start:end]選取範圍，但並未含括到end的項目




```
e.g.
A = [1,3,5,7,9]
A[0:3] ->選取第0到第2項
```

In [ ]:
A = [1,3,5,7,9]
print(A[0:3])

[1, 3, 5]

### **集合運算**
當比較list中項目時可以用set()進行集合運算
```
a = [1,2,2,5,6,7]
set(a) = {1,2,5,6,7} #會把重複項目刪除
```
> 聯集 set(a) | set(b)

> 交集 set(a) & set(b)

> 差集 set(a) - set(b)

In [ ]:
a = [1,2,2,5,6,7]
b = [1,7,8]
print(set(a) | set(b))
print(set(a) & set(b))
print(set(a) - set(b))

{1, 2, 5, 6, 7, 8}
{1, 7}
{2, 5, 6}

### **For迴圈**

#####Python中的`for`迴圈會以以下型式表達

```
for i in range(3):
    print(i*3)
```
與其他程式語言不同處為:
1. for 後面會以`:`代表迴圈的開始
2. 迴圈內需執行的東西會以縮排方式進行

Pyhton中有一特殊寫法，可將迴圈寫入list中：

```
A = [i for i in range(3)]
```
可將迴圈結果直接存成list，可以比較下列例子結果相同

In [ ]:
A = []
for i in range(3):
  A.append(i**3)


B= [i**3 for i in range(3)]

print(A)
print(B)

[0, 1, 8]
[0, 1, 8]

## **Chapter 2 - Pandas**

### **基本介紹**

#####Pandas是Python中常用的資料結構套件，Python使用者通常有以下引用慣例:
```
import pandas as pd 
```
匯入資料時通常以pandas匯入excel的csv檔案
或是會以建立DataFrame方式輸入資料
```
# 讀取csv
pd.read_csv("File_Name.csv",index_col =[""])

#建立表格
pd.DataFrame({"Name":["John","Henry"], "Weight":[65,80]})
```

In [ ]:
import pandas as pd
#Henry 80公斤
df_wt = pd.DataFrame({"Name":["John","Henry"], "Weight":[65,80]}) 
print(df_wt)

    Name  Weight
0   John      65
1  Henry      80

### **DataFrame常用功能**

#####  
DataFrame幾個常見功能為
> 以index or 欄進行挑選: df.loc[index, Col]

> 新增欄 df["New_Col_Name"] = [....]

In [ ]:
df = pd.DataFrame({"Fruit":["Apple", "Bananna", "Orange", "Lemon", "Pear"],\
                   "Price":[45, 23 ,12, 25, 7], "Quantity":[3, 4, 2, 1, 9]})
# 設定水果為index
df.set_index("Fruit",inplace= True)

print("----------表格----------")
print(df)

print("--------取出Apple--------")
print(df.loc["Apple",:])

print("--------新增欄位--------")
df["Discount"] = [0.7, 0.9, 0.8, 0.2, 1.0]
print(df)

print("----------運算----------")
df["Discount"] = [0.7, 0.9, 0.8, 0.2, 1.0]
df["Total_Price"] = df["Price"] * df["Quantity"] * df["Discount"]
print(df)

----------表格----------
         Price  Quantity
Fruit
Apple       45         3
Bananna     23         4
Orange      12         2
Lemon       25         1
Pear         7         9
--------取出Apple--------
Price       45
Quantity     3
Name: Apple, dtype: int64
--------新增欄位--------
         Price  Quantity  Discount
Fruit
Apple       45         3       0.7
Bananna     23         4       0.9
Orange      12         2       0.8
Lemon       25         1       0.2
Pear         7         9       1.0
----------運算----------
         Price  Quantity  Discount  Total_Price
Fruit
Apple       45         3       0.7         94.5
Bananna     23         4       0.9         82.8
Orange      12         2       0.8         19.2
Lemon       25         1       0.2          5.0
Pear         7         9       1.0         63.0

### **篩選-Filter**
當進行資料分析時我們會透過資料篩選取出我們所需要的資料，無論是由index或是欄位中的選項

考慮以下的表格:

In [ ]:
print(df)

         Price  Quantity  Discount  Total_Price
Fruit
Apple       45         3       0.7         94.5
Bananna     23         4       0.9         82.8
Orange      12         2       0.8         19.2
Lemon       25         1       0.2          5.0
Pear         7         9       1.0         63.0

如果我想要篩選出價格(Price)大於20的水果

In [ ]:
filter_1 =  df["Price"] > 20

# 兩種方式皆可
df[filter_1]
df.loc[filter_1,:]

         Price  Quantity  Discount  Total_Price
Fruit
Apple       45         3       0.7         94.5
Bananna     23         4       0.9         82.8
Lemon       25         1       0.2          5.0

### **作業**

#### 請根據`HW.csv`中的資料完成以下幾點事項

1. 將資料匯入並將Date設成index `pd.read_csv("File_Name.csv",index_col =[""])`
2. 請新增一欄"Return"，算出各天的日報酬`可用算出差分df.diff(-1)`
3. 請找出報酬大於2%的日期
4. 利用篩選找出2015/1/1~2019/12/31，並算出平均日報酬率`df.mean()可以取平均`

# **Python Course for Esun Quant Team July 27, 2020**
### **Agenda**


- Chapter 3 - Pandas-Group by

## **Chapter 3 - Pandas更多應用**

### **Group by**

##### 有時會需要做資料統整的處理，這時會使用到groupby的功能

```
df.groupby(['需要作為樞紐的key']).sum()
```
並且看要做出何種處理(案例中用加總舉例)

In [ ]:
#e.g. 以下表格為各顧客總AUM資料
#讀進資料
df3 = pd.read_csv('CM.csv',encoding= 'BIG5')

#因顧客資料無法進行運算，先刪除
df3.drop(columns=['Cust_No'],inplace = True)

#以各區域進行加總
df_region = df3.groupby('Region').sum()
df_region.head()

             AUM
Region
北市三     16984502
北市二     14520154
北高雄      2323123
南台中      9874410
南高雄       874574

In [ ]:
#以各區及分行進行加總
df_div = df3.groupby(['Region','Division']).sum()
df_div.head()

                      AUM
Region Division
北市三    基隆路        9000000
       敦南         7984502
北市二    營業部       14520154
北高雄    岡山         2323123
南台中    員林         9874410

In [ ]:
#以各IC進行加總
df_IC = df3.groupby('IC_Name').sum()
df_IC.head()

               AUM
IC_Name
Andy       6666666
Billy      2323123
Candy      5454755
David      9874410
Eric     150597391

### **排序**

##### 若需要排序資料,使用`df.sort_values(by=, ascending= True )`
其中by填入要排序的欄，ascending表示是否要升冪排列(由小到大)

In [ ]:
df_IC.sort_values('AUM',ascending=False)

               AUM
IC_Name
Eric     150597391
Peter     76157315
Thor      46427521
Tina      35760094
David      9874410
Andy       6666666
Linda      5531909
Candy      5454755
Billy      2323123
John       1234210
Henrry      987578
Frank       874574

### **資料合併Concat, Merge**

#####  
**Concat-**
最主要用在多個表格的串接，單純的直向or橫向併表格
```
pd.concat([df1,df2,df3], axis = 0) #直向
pd.concat([df1,df2,df3], axis = 1) #橫向
```

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df2 = pd.DataFrame({'A':[1,6,7],'D':[7,8,9]})
pd.concat([df1,df2],axis=0) #可加入ignore_index = True/False

   A    B    D
0  1  4.0  NaN
1  2  5.0  NaN
2  3  6.0  NaN
0  1  NaN  7.0
1  6  NaN  8.0
2  7  NaN  9.0

In [ ]:
pd.concat([df1,df2],axis=1) #可加入ignore_index = True/False

   A  B  A  D
0  1  4  1  7
1  2  5  6  8
2  3  6  7  9

#####  
**Merge-**
最主要用在兩個表格的串接，可選擇要串接的key值

In [ ]:
pd.merge(df1,df2,on='A', how = 'inner')#交集
pd.merge(df1,df2,on='A', how = 'outer')#聯集
pd.merge(df1,df2,on='A', how = 'left')#以左邊df為準進行合併
pd.merge(df1,df2,on='A', how = 'right')#以右邊df為準進行合併

   A    B  D
0  1  4.0  7
1  6  NaN  8
2  7  NaN  9

### **作業**

#### **HW 2**
#####研究員想要處理H0A0以及USGG兩個時間序列資料，但兩個資料檔日期有不一致情形，請協助研究員使用merge將資料做好預處理

#### **HW 3**
#####研究員想要比較在不同時間中債券指數的組成分中，是否有重複的項目，並想了解價格變動的狀況，請協助研究員找出來

# **Python Course for Esun Quant Team Aug 03, 2020**
### **Agenda**

- Chapter 4 - Data Preprocessing

## **Chapter 4 - Data Preprocessing**

### **NA & Missing Values**

##### 有時資料欄中會出現NA值情況

- 判斷

> `df.isnull()`判斷是否有NA
 
> `df.notnull()`判斷沒有NA的列

- 處理

> `df.dropna()`把含有NA的列/欄刪除
 
> `df.fillna()`把含有NA的列/欄填入值

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({"A":[1,2,np.nan,4],"B":[5,6,np.nan,8],"C":[2,3,4,5]})
print('======')
print('原資料')
print('======')

print(df1)

print('================')
print('將含有NA的列刪除')
print('================')

df2 = df1.dropna(axis = 0) #axis = 0為預設，若不輸入亦可
print(df2)

print('================')
print('將含有NA的欄刪除')
print('================')

df3 = df1.dropna(axis = 1)
print(df3)

print('========================')
print('將含有NA，填入各欄平均值')
print('========================')

df3 = df1.fillna(df1.mean())
print(df3)

======
原資料
======
     A    B  C
0  1.0  5.0  2
1  2.0  6.0  3
2  NaN  NaN  4
3  4.0  8.0  5
================
將含有NA的列刪除
================
     A    B  C
0  1.0  5.0  2
1  2.0  6.0  3
3  4.0  8.0  5
================
將含有NA的欄刪除
================
   C
0  2
1  3
2  4
3  5
========================
將含有NA，填入各欄平均值
========================
          A         B  C
0  1.000000  5.000000  2
1  2.000000  6.000000  3
2  2.333333  6.333333  4
3  4.000000  8.000000  5

### **apply**

##### apply的功能是將某function套用至指定資料上，好比說我想將DataFrame中的某欄做分類，可以先看以下例子或許比較明白apply的使用方式

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({"Cust_ID":[1123564,21320463,123134,999999,4564887],\
            "AUM":[5000000,98745632,3000000,1456217,3000]})
#- 定義函數
def type_check(x):
  if x>30000000:
    return("3,000萬以上顧客")
  elif x<10000000:
    return('1,000萬以下顧客')
  else:
    return('1~3,000萬顧客')

#- 將DataFrame中的AUM取出，並利用apply應用函式
df1["分類"] = df1["AUM"].apply(type_check)
df1

    Cust_ID       AUM          分類
0   1123564   5000000  1,000萬以下顧客
1  21320463  98745632  3,000萬以上顧客
2    123134   3000000  1,000萬以下顧客
3    999999   1456217  1,000萬以下顧客
4   4564887      3000  1,000萬以下顧客

除了上述方式外，apply也有另一種常用的方法`apply(lambda x: f(x))`

In [ ]:
# 將AUM同除以10,000
df1["AUM"].apply(lambda x : x/10000)

0     500.0000
1    9874.5632
2     300.0000
3     145.6217
4       0.3000
Name: AUM, dtype: float64

### **作業**

# **Python Course for Esun Quant Team Aug 03, 2020**
### **Agenda**

- Chapter 5 - 資料結構介紹

## **Chapter 5 - 資料結構介紹**

### **Overfitting**

##### 做資料分析時（特別是ML），時常會不小心產生Overfitting狀況，模型會為了要增加他的預測能力，過度配適誤差項，以下圖舉例


e.g.

想要找一條線(模型)區隔出O以及X,

**[左一]**模型太過簡單(Underfitting)

**[左三]**模型太過複雜(Overfitting)
  
Overfitting會造成模型在訓練時表現很好,但是預測能力很差

![Overfitting](https://github.com/x87170/ES/blob/master/1_UCd6KrmBxpzUpWt3bnoKEA.png?raw=true)

### **Train-Test Split**

##### 而要如何處理Overfitting問題呢?
將訓練資料以及測試資料分開,以測試資料的預測正確程度,來判斷模型優劣才是正確的!